.chromestyle{
width: 99%;
font-weight: bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 0px solid #BBB;
width: 100%;
 /*background: url(chromebg.gif) center center repeat-x;THEME CHANGE HERE*/
padding: 0px 0;
margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #990000;
padding: 4px 7px;
margin: 0;
font:11pt Arial;
font-weight:bold;
text-decoration: none;
border-right: 1px solid #6a84aa;
border-top: 0px solid #6a84aa;
background-color: #FFFF99;

}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
background-color: #FFFFFF;
font-size: 11pt;
font:11pt Arial;
font-weight:bold;
font-family: Arial Helvetica, san-serif;
text-decoration: none;
color: #990000;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font-size: 9pt;
font:9pt Arial;
font-family: Arial Helvetica, san-serif;
/*font:normal 9pt Arial;*/
line-height:15px;
z-index:100;
background-color: #FFFF99;
width: 200px;
visibility: hidden;
text-align: left;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
font:9pt Arial;
font-family: Arial Helvetica, san-serif;
font-size: 9pt;
text-decoration: none;
font-weight: bold;
color: #990000;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #FFFFFF;
font-size: 9pt;
font:9pt Arial;
font-weight:bold;
font-family: Arial Helvetica, san-serif;
text-decoration: none;
color: #990000;
}